<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"
      defer
    ></script>
    <script src="main.js" defer></script>
    <title>eShop</title>
  </head>
  <body>
    <div id="app">
      <header>
        <input v-model="searchLine" type="text" class="goods-search" />
        <button @click="onSearch" class="search-button" type="button">
          Искать
        </button>
        <button
          @click="isVisibleCart=!isVisibleCart"
          class="cart-button"
          type="button"
        >
          Корзина
        </button>
      </header>
      <main>
        <div class="cart" v-if="isVisibleCart">
          <div class="goods-item" v-for="good in cart.contents">
            <h3>{{ good.product_name }}</h3>
            <p>{{ good.price }}</p>
          </div>
        </div>
        <div class="goods-list">
          <div class="goods-item" v-for="good in filteredGoods">
            <h3>{{ good.product_name }}</h3>
            <p>{{ good.price }}</p>
          </div>
          <p v-if="filteredGoods.length===0">Нет данных</p>
        </div>
      </main>
    </div>
  </body>
</html>
