* {
  padding: 0;
  margin: 0;
}

.error-message {
  font-size: 25px;
  color: red;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 20px;
}

.goods-search {
  display: flex;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.goods-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: rgb(177, 219, 219);
  padding: 10px;
}

.cart-popup {
  position: absolute;
  right: 0px;
  top: 45px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  gap: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 40px 120px 60px 35px 100px;
  align-items: center;
  padding: 10px;
}

.cart-page-button {
  align-self: center;
  padding: 10px 20px;
}
